body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #f4a2a2;
}

.container {
    background: rgb(186, 242, 144);
    padding: 25px;
    width: 300px;
    border-radius: 10px;
}

input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

.show {
    margin-top: 10px;
}
